<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body class="home-index">
    <header class="home">
      <ul>
        <li>
          <a href="/users/signup"> Signup </a>
        </li>
        <li>
          <a href="/users/login"> Login </a>
        </li>

        <li>
          <a href="/auth/github">Login with Github</a>
        </li>
        <li>
          <a href="/auth/google">Login with Google</a>
        </li>
        <li>
          <a href="/users/logout">Logout</a>
        </li>
      </ul>
    </header>
    <main id="home">
      <h1>Welcome to Node.js</h1>
      <p>Express assignment</p>
    </main>
  </body>
</html>
